.title {
    margin: 0;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #E3B873;
    text-transform: uppercase;
    font-family: Yeseva One;
}
